@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply text-sm text-default-text;
  }

  form {
    @apply rounded-xl p-4;
  }

  label {
    @apply mt-4;
  }

  input,
  select,
  textarea,
  .ql-editor {
    @apply m-1 rounded bg-card p-1;
  }
}

@layer components {
  .icon {
    @apply text-default-text text-xl;
  }

  .icon-btn {
    @apply text-nav text-xl cursor-pointer pr-3;
  }

  .btn {
    @apply hover:no-underline bg-blue-accent hover:bg-blue-accent-hover tracking-wider w-full text-center text-nav font-bold cursor-pointer uppercase px-4 py-2 rounded-md transition-colors block;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1); /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Toolbar background */
.ql-toolbar.ql-snow {
  background-color: #2c3e50; /* Dark background for toolbar */
  border-color: #34495e;
}

/* Toolbar icons */
.ql-snow .ql-stroke {
  stroke: #ecf0f1 !important; /* White color for icons */
}

.ql-snow .ql-fill {
  fill: #ecf0f1 !important; /* White color for filled icons */
}

.ql-snow .ql-picker {
  color: #ecf0f1 !important; /* White color for dropdown text */
}

/* Toolbar buttons hover state */
.ql-snow .ql-picker-label:hover,
.ql-snow .ql-picker-label.ql-active,
.ql-snow .ql-picker-item:hover,
.ql-snow .ql-picker-item.ql-selected,
.ql-snow button:hover,
.ql-snow button:focus {
  color: #3498db !important; /* Light blue for hover state */
}

.ql-snow .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-picker-item.ql-selected .ql-stroke,
.ql-snow button:hover .ql-stroke,
.ql-snow button:focus .ql-stroke {
  stroke: #3498db !important; /* Light blue for hover state */
}

/* Editor area */

.ql-editor {
  color: #ecf0f1; /* White text color */
}

/* Placeholder text */
.ql-editor.ql-blank::before {
  color: #bdc3c7; /* Light grey for placeholder text */
}

.ql-container.ql-snow {
  border: none !important;
}

.quill {
  margin-bottom: 3rem;
}
